<h1>About this Song</h1>

<label> Title: </label>
<%= @song.title %>
<br><br>
<label> Artist: </label>
<%= @song.artist_name %>
<br><br>
<label> Genre: </label>
<%= @song.genre %>
<br><br>
<label> Release Status & Year </label>
<% if @song.released == true %>
<%= @song.release_year %>
<% end %>
<br><br>
<%= link_to "Edit", edit_song_path(@song) %>
<br><br>
<%= link_to "Delete", song_path(@song), method: :delete %>

